[submodule "modules/antkeeper-source"]
	path = modules/antkeeper-source
	url = https://git.antkeeper.com/antkeeper/source.git
[submodule "modules/antkeeper-data"]
	path = modules/antkeeper-data
	url = https://git.antkeeper.com/antkeeper/data.git
